body {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(111, 0, 255);
    box-shadow: rgba(72, 72, 72, 0.45) 0px 10px 10px -5px;
    color: white;
    padding: 5px 20px 5px;
    width: 100vw;
}

#scrambie {
    padding-left: 20px;
}

#linkies {
    width: 10rem;
    display: flex;
    flex-direction: row;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#game-box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, rgb(255, 0, 200),rgb(111, 0, 255), rgb(111, 0, 255));
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 50%;
    height: 70%;
}

#user-stats {
    margin: 0px;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.stat {
    list-style-type: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px 5px;
}

#guess-box {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
}

#user-guess {
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px 5px;
    border: none;
    width: 11rem;
    height: 1.5rem;
    transition: width 300ms, height 300ms;
}

#user-guess:hover {
    width: 11.5rem;
    height: 2rem;
}

.bottom-btn {
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px 5px;
    border: none;
    width: 5rem;
    height: 2rem;
}

.bottom-btn:hover {
    background-color: rgba(255, 207, 245, 0.459);
}

#last-section {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#scrambie-wrd {
    font-size: xxx-large;
    color: white;
    padding: 0px;
    margin:0px;
}

#info-boi {
    display: none;
    padding: 0px;
    margin: 0px;
}

.loser {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: red;
}

.incorrect {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: red;
}

.correct {
    background-color: white;
    color: rgb(2, 172, 39);
    padding: 5px;
    border-radius: 5px;
}

#play-btn {
    background-color: white;
    padding: 10px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#play-btn:hover {
    box-shadow: rgb(255, 0, 200) 0px 5px 15px;
}

@keyframes my-animation {
    from {
        padding: 10px;
        font-size: larger;
    }

    to {
       padding: 15px;
       font-size: x-large;
    }
}